@using MovieProject.ViewModels
@model ActorViewModel

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="py-2">Actor: @Model.FirstName @Model.LastName</h2>
			</div>
		</div>
	</div>

	<div class="card-body p-4">
		<div class="row text-end">
			<div class="col-6"></div>
			<div class="col-6 text-end">
				<a asp-controller="Actor" asp-action="CreateNewRole" asp-route-actorId="@Model.ActorId" class="btn btn-success">
					<i class="bi bi-plus-circle align-text-bottom"></i> Create New Role
				</a>
			</div>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th scope="col">Movie</th>
					<th scope="col">Released date</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var movie in Model.MoviesActors)
				{
					<tr>
						<td>@movie.Movie.Title</td>
						<td>@movie.Movie.Released</td>
						<td>
							<div class="w-75 btn-group" role="group">
								<a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.MovieId" class="btn btn-primary mx-2">
									<i class="bi bi-info-circle align-text-bottom"></i> Details
								</a>
								<a asp-controller="Actor" asp-action="RemoveActorFromMovie" asp-route-movieId="@movie.MovieId" asp-route-actorId="@Model.ActorId" class="btn btn-danger mx-2">
									<i class="bi bi-trash-fill align-text-bottom"></i> Remove
								</a>
								@*<a asp-controller="Movie" asp-action="Update" asp-route-id="@movie.MovieId" class="btn btn-warning mx-2">
							<i class="bi bi-pencil-square align-text-bottom"></i> Edit
							</a>
							<a asp-controller="Director" asp-action="Delete" asp-route-id="@movie.DirectorId" class="btn btn-danger mx-2">
							<i class="bi bi-trash-fill align-text-bottom"></i> Delete
							</a>*@
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>