@using MovieProject.ViewModels
@model WriterViewModel

<h1 style="text-align:center">@Model.FirstName @Model.LastName</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Movie</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var movieWriter in Model.MoviesWriters)
		{
			<tr>
			<td>@movieWriter.Movie.Title</td>
			<td>
				<a asp-controller="Actor" asp-action="Edit" asp-route-id="@Model.WriterId" class="btn btn-warning mx-1">Edit</a>
				<a asp-controller="Actor" asp-action="Delete" asp-route-id="@Model.WriterId" class="btn btn-danger mx-1">Delete</a>
			</td>
		</tr>
		}
	</tbody>
</table>