@using MovieProject.ViewModels
@model DirectorViewModel

<h1 style="text-align:center">@Model.FirstName @Model.LastName</h1>
<table class="table table-hover">
	<thead>
		<tr>

			<th scope="col">Movie Title</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			@foreach (var movie in Model.Movies)
			{
				<td>@movie.Title</td>
				<td>
					<a asp-controller="Director" asp-action="Edit" asp-route-id="@Model.DirectorId" class="btn btn-warning mx-1">Edit</a>
					<a asp-controller="Director" asp-action="Delete" asp-route-id="@Model.DirectorId" class="btn btn-danger mx-1">Delete</a>
				</td>
			}
		</tr>

	</tbody>
</table>