@{
	ViewData["Title"] = "Movies";
}
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManger
@inject UserManager<IdentityUser> UserManger

@model List<MovieViewModel>

@{
	ViewData["Title"] = "Movies";
}

<!DOCTYPE html>
<html class=''>
<head>
	<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
	<script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
	<script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
	<meta charset='UTF-8'>
	<meta name="robots" content="noindex">
	<link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
	<link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
	<link rel="canonical" href="https://codepen.io/ryanparag/pen/LLrVbo?depth=everything&order=popularity&page=10&q=movie&show_forks=false" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	<style class="cp-pen-styles">
		body {
			height: 100%;
			width: 100%;
			background: #e9e9e9;
			font-size: 14px;
			color: #010b26;
			background: #ffffff;
		}

		* {
			transition: 150ms;
		}

		.intro {
			text-align: center;
		}

		ul {
			list-style-type: none;
		}

		h1, h2, h3, h4, h5, p {
			font-weight: 400;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

			a:hover {
				color: #6ABCEA;
			}

		.cont {
			display: flex;
			flex-wrap: wrap;
			max-width: 100%;
			margin-top: 10vh;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
		}

		.movie-card {
			background: #ffffff;
			box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
			width: 100%;
			max-width: 315px;
			margin: 2em;
			border-radius: 10px;
			display: inline-block;
		}

		.movie-header {
			padding: 0;
			margin: 0;
			height: 367px;
			width: 100%;
			display: block;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		.bladeRunner2049 {
			background-size: cover;
			background-position: 100% 80%;
		}

		.header-icon-cont {
			position: relative;
		}

		.header-icon {
			width: 100%;
			height: 367px;
			line-height: 367px;
			text-align: center;
			vertical-align: middle;
			margin: 0 auto;
			color: #ffffff;
			font-size: 54px;
			text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
			opacity: .85;
		}

			.header-icon:hover {
				background: rgba(0, 0, 0, 0.15);
				font-size: 74px;
				text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				opacity: 1;
			}

		.movie-card:hover {
			transform: scale(1.03);
			box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
		}

		.movie-content {
			padding: 18px 18px 24px 18px;
			margin: 0;
		}

		.movie-content-header, .movie-info {
			display: table;
			width: 100%;
			text-align: center;
		}

		.movie-title {
			font-size: 24px;
			margin: 0;
			display: table-cell;
		}

		.imax-logo {
			width: 50px;
			height: 15px;
			background: url("https://6a25bbd04bd33b8a843e-9626a8b6c7858057941524bfdad5f5b0.ssl.cf5.rackcdn.com/media_kit/3e27ede823afbf139c57f1c78a03c870.jpg") no-repeat;
			background-size: contain;
			display: table-cell;
			float: right;
			position: relative;
			margin-top: 5px;
		}

		.movie-info {
			margin-top: 1em;
		}

		.info-section {
			display: table-cell;
			text-transform: uppercase;
			text-align: center;
		}

			.info-section:first-of-type {
				text-align: left;
			}

			.info-section:last-of-type {
				text-align: right;
			}

			.info-section label {
				display: block;
				color: rgba(0, 0, 0, 0.5);
				margin-bottom: .5em;
				font-size: 9px;
			}

			.info-section span {
				font-weight: 700;
				font-size: 11px;
			}

		.cont {
			padding: 0;
			margin: 0;
		}

		.actions {
			display: flex;
			justify-content: center;
		}

	</style>
</head>
<body>
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="py-2">Movies List</h2>
			</div>
		</div>
	</div>
	
	@if(User.IsInRole("Administrator")){
		<div class="row text-end">
			<div class="col-6"></div>
			<div class="col-6 text-end" style="padding-right:55px;">
				<a asp-controller="Movie" asp-action="Create" class="btn btn-success mb-3">
					<i class="bi bi-plus-circle align-text-bottom"></i> Create New Movie
				</a>
			</div>
		</div>
		<div class="row text-end">
			<div class="col-6"></div>
			<div class="col-6 text-end" style="padding-right:55px;">
				<a asp-controller="Movie" asp-action="FetchMovie" class="btn btn-warning mb-3">
					<i class="bi bi-plus-circle align-text-bottom"></i> Fetch Movies
				</a>
			</div>
		</div>

	}


	<form method="get" action="/Movie/Search">
		<div class="input-group border border-dark rounded mb-3" style="max-width:1251px;">
			<input type="search" class="form-control rounded" name="title" placeholder="Search" />	
			<button type="submit" class="btn btn-outline-primary">Search</button>
		</div>
	</form>
	<div class="cont px-3 justify-content-between">
		@foreach (var movie in Model)
		{
			<div class="movie-card">
				<div class="movie-header bladeRunner2049" style="background: url(@movie.Poster); background-size: cover;">
				</div>
				<div class="movie-content">
					<div class="movie-content-header">
						<a href="#">
							<h3 class="movie-title">@movie.Title</h3>
						</a>
					</div>
					<div class="movie-info">
						<div class="info-section">
							<label>Release Date</label>
							<span>@movie.Released</span>
						</div>
						<div class="info-section">
							<label>Language</label>
							<span>@movie.Language</span>
						</div>
					</div>
				</div>
				<div class="actions">
					<a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.MovieId" class="btn btn-primary mx-1">Details</a>
					@if(User.IsInRole("Administrator")){
						<a asp-controller="Movie" asp-action="Update" asp-route-id="@movie.MovieId" class="btn btn-warning mx-1">Edit</a>
						<a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.MovieId" class="btn btn-danger mx-1">Delete</a>
					}
				</div>

			</div>
		}
		@if (Model.Count % 3 == 2)
		{
			<div class="movie-card d-block shadow-none">
				<div class="movie-header bladeRunner2049">
				</div>
				<div class="movie-content">
				</div>
			</div>
		}

	</div>


</body>
</html>
